body {
  color: #1d1e1b;
}

.navbar {
  padding: 10px 0;
}

.logo {
  max-height: 110px;
  width: auto;
}

/* Media queries */
@media (max-width: 767px) {
  .inicio-fantasia {
    width: 100%;
    text-align: center;
    margin-top: 30% !important;
  }

  .contenedor-fan {
    width: 100%;
    margin: auto;
  }
  .fan-img {
    width: 90% !important;
    padding: 5px;
  }
  .img-angelcaido {
    width: 90% !important;
  }

  .navbar-expand-lg .navbar-toggler {
    order: 2;
  }
  .navbar-collapse {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: top 0.3s ease-in-out;
  }
  .navbar-expand-lg .navbar-collapse {
    order: 1;
  }
  .navbar-toggler {
    z-index: 100;
  }
  .navbar-collapse.show {
    top: 0;
  }
  .navbar-nav .nav-link {
    margin-left: 5%;
  }
  .navbar-nav {
    margin-top: 15%;
  }
  .logo {
    max-height: 93px;
    width: auto;
  }
  .container {
    position: relative;
  }
  .menu {
    position: absolute;
  }
  .inicio-contacto {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .contenedor-info {
    margin-top: 20%;
  }
  .formulario {
    font-size: 15px;
  }
  #enviar {
    font-size: 15px;
  }
  main.inicio-bio {
    height: 70vh;
    margin: auto;
    margin-top: 30%;

    width: 70%;
  }
  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    height: 28vh;
    margin-top: 35%;
  }
  .inicio {
    margin-top: 30%;
  }
  main.inicio-galeria {
    margin-top: 30%;
  }
  main.inicio-colecciones {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 30%;
  }
  .contenedor-angel,
  .contenedor-fantasia {
    margin: 20px auto 10px auto;
  }

  main.titulo-colecciones {
    grid-column: 1 !important;
    grid-row: auto;
  }

  .fan-img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-angelcaido {
    width: 80% !important;
  }

  .navbar-expand-lg .navbar-toggler {
    order: 2;
  }
  .navbar-collapse {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: top 0.3s ease-in-out;
  }
  .navbar-expand-lg .navbar-collapse {
    order: 1;
  }
  .navbar-toggler {
    z-index: 100;
  }
  .navbar-collapse.show {
    top: 0;
  }
  .navbar-nav .nav-link {
    margin-left: 5%;
  }
  .navbar-nav {
    margin-top: 15%;
  }
  .container {
    position: relative;
  }
  .menu {
    position: absolute;
  }
  .inicio-contacto {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .contenedor-info {
    margin-top: 5%;
  }
  .formulario {
    font-size: 15px;
  }
  #enviar {
    font-size: 15px;
  }

  main.inicio-colecciones {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 20%;
  }
  .contenedor-angel,
  .contenedor-fantasia {
    margin: 20px auto 10px auto;
  }

  main.titulo-colecciones {
    grid-column: 1 !important;
    grid-row: auto;
  }

  main.inicio {
    margin-top: 20%;
  }

  .inicio-contacto {
    margin-top: 20%;
  }

  .contenedor {
    order: 1;
    margin-top: 10%;
  }
  .contenedor-info {
    order: 2;
  }
  main.inicio-bio {
    width: 60%;
    margin: auto;
    margin-top: 20%;
    height: 66vh;
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    height: 28vh;
  }
  .caja-tres {
    margin-top: 90px;
    min-height: 149vh;
  }
  .inicio-galeria {
    margin-top: 80%;
  }
  main.inicio-fantasia {
    width: 100%;
    text-align: center;
    margin-top: 15%;
  }
  .contenedor-fan {
    width: 60%;
    margin: auto;
  }
  .fan-img {
    width: 200px;
    padding: 5px;
  }
  .img-angelcaido {
    width: 400px;
  }
}

@media (min-width: 992px) {
  .d-lg-flex.align-items-center {
    justify-content: center;
    position: absolute;
  }
  .footer {
    width: 100%;
    margin-top: 8%;
    display: flex;
    align-items: center;
    height: 10vh;
  }
  .inicio {
    margin-top: 10%;
  }
  .inicio-bio {
    width: 60%;
    margin: auto;
    margin-top: 20%;
    height: 40vh;
  }
  .inicio-fantasia {
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }
  .contenedor-fan {
    width: 60%;
    margin: auto;
  }
  .fan-img {
    width: 400px;
    padding: 5px;
  }
  .img-angelcaido {
    width: 800px;
  }
}
/* Index */
.navbar-nav .nav-link {
  position: relative;
  color: #1d1e1b;
  font-family: Spectral;
}
.navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background-color: #1d1e1b;
}
.navbar-nav .nav-link:hover {
  color: rgb(2, 2, 2);
}

.carousel {
  position: relative;
  z-index: 1;
}

.intro {
  display: block;
  align-items: center;
}

.introduccion {
  text-align: justify;
  font-family: "Castoro Titling", cursive;
  font-size: 20px;
  color: #1d1e1b;
  margin-top: 8%;
}

.caja-uno {
  width: 100%;
  margin: auto;
  margin-bottom: 5%;
}

.caja-dos {
  width: 70%;
  margin: auto;
  padding: 5px;
}

.caja-tres {
  margin-top: 90px;
}

.intro-dos {
  text-align: center;
  font-family: "Castoro Titling", cursive;
  font-size: 25px;
  color: #1d1e1b;
}

.link-tienda {
  color: #1d1e1b;
  font-family: Spectral;
}

.lista {
  max-width: 75%;
  margin: 90px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imagen-lista {
  width: 300px;
  margin: 13px;
}
/* Footer */
.texto-footer {
  color: #1d1e1b;
  font-family: "Castoro Titling", cursive;
  font-size: 12px;
  width: 100%;
  margin: 0px 0px 20px 20px;
}
.redes ul {
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 30px 20px 0px;
  list-style: none;
}
.links-footer {
  color: #1d1e1b;
  font-family: "Castoro Titling", cursive;
  font-size: 12px;
}

/* Contacto */
.inicio-contacto {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 10%;
}

.formulario {
  text-align: left;
  font-size: 17px;
  color: #1d1e1b;
  display: flex;
}

#formu,
[name="mail"],
[name="mensaje"] {
  width: 100%;
  box-sizing: border-box;
}

.contenedor-info {
  flex: 1;
  padding: 2rem;
  font-family: "Castoro Titling", cursive;
  align-items: center;
}

.contenedor {
  flex: 1;
  padding: 2rem;
  font-family: "Castoro Titling", cursive;
  align-items: center;
}

#enviar {
  background-color: #1d1e1b;
  color: white;
  font-family: "Castoro Titling", cursive;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.texto-formulario {
  font-size: 13px;
  color: #1d1e1b;
  font-family: "Castoro Titling", cursive;
  display: block;
  margin-bottom: 5px;
}

/* Bio*/

.titulo-bio {
  color: #1d1e1b;
  font-size: 20px;
  font-family: "Castoro Titling", cursive;
}

.texto-bio {
  color: #1d1e1b;
  font-size: 16px;
  font-family: "Castoro Titling", cursive;
  text-align: center;
}

/* Colecciones */
.titulo-colecciones {
  color: #1d1e1b;
  font-size: 20px;
  font-family: "Castoro Titling", cursive;
}

.imagen-colecciones {
  width: 300px;
  border: 1px solid #1d1e1b;
  padding: 5px;
}

.texto-fantasia {
  font-family: "Times New Roman", Times, serif;
  color: #1d1e1b;
  font-size: 18px;
  text-align: center;
}

.texto-angel {
  font-family: "Times New Roman", Times, serif;
  color: #1d1e1b;
  font-size: 18px;
  text-align: center;
}

.inicio-colecciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  width: 70%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.titulo-colecciones {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.contenedor-fantasia,
.contenedor-angel {
  grid-row: 2 / 3;
  grid-column: span 1;
}

.texto-fantasia,
.texto-angel {
  grid-row: 3 / 4;
}

/*galeria*/

.inicio-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  margin-top: 15%;
}

.titulo-galeria {
  font-size: 25px;
  color: #1d1e1b;
  margin-bottom: 10px;
  font-family: "Castoro Titling", cursive;
}
.descripcion-galeria {
  font-size: 20px;
  color: #1d1e1b;
  margin-bottom: 10px;
  font-family: "Castoro Titling", cursive;
}

.contenedor-galeria {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.imagen-galeria {
  width: 100%;
  max-width: 100%;
}
/*angel caido*/

.titulo-ag {
  font-size: 20px;
  color: #1d1e1b;
  font-family: "Castoro Titling", cursive;
}
.inicio-fantasia {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}
.contenedor-fan {
  width: 60%;
  margin: auto;
}
.fan-img {
  width: 400px;
  padding: 5px;
}
.img-angelcaido {
  width: 800px;
}
