@import "../utils/variables";

@mixin sizes($width, $margin-top) {
  width: $width;
  margin-top: $margin-top;
}

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin titulos($font-size: 30px) {
  font-size: $font-size;
  text-align: center;
}

@mixin boton-enviar {
  background-color: $primary-color;
  color: white;
  font-family: "Castoro Titling", cursive;
  padding: 10px;
}
@mixin animacion-zoom {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
