@import "../utils/variables";

@mixin sizes($width, $margin-top) {
  width: $width;
  margin-top: $margin-top;
}

@mixin flex {
  display: flex;
}
@mixin titulos-desktop {
  font-size: 30px;
  color: $primary-color;
  font-family: "Castoro Titling", cursive;
  text-align: center;
}
@mixin titulos-tablet {
  font-size: 25px;
  color: $primary-color;
  font-family: "Castoro Titling", cursive;
  text-align: center;
}
@mixin titulos-mobile {
  font-size: 20px;
  color: $primary-color;
  font-family: "Castoro Titling", cursive;
  text-align: center;
}

@mixin boton-enviar {
  background-color: $primary-color;
  color: white;
  font-family: "Castoro Titling", cursive;
  padding: 10px;
}
@mixin animacion-zoom {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
