@import "../utils/variables";
@import "../utils/mixin";

@media (max-width: $mobile) {
  .inicio-ag {
    @include sizes(100%, 18vh);
    margin-bottom: 5vh;

    text-align: center;
    .titulo-ag {
      font-size: 20px;
    }
    .contenedor-ag {
      width: 75%;
      margin: auto;
      img {
        width: 300px;
        padding: 5px;
      }
    }
  }
}
@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .inicio-ag {
    @include sizes(100%, 15vh);
    margin-bottom: 5vh;
    text-align: center;
    .titulo-ag {
      font-size: 25px;
    }
    .contenedor-ag {
      width: 100%;
      margin: auto;
      .fan-img {
        width: 300px;
        padding: 5px;
      }
      .img-angelcaido {
        width: 400px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .inicio-ag {
    @include sizes(100%, 18vh);
    margin-bottom: 5vh;
    text-align: center;
    .titulo-ag {
      font-size: 30px;
    }
    .contenedor-ag {
      width: 60%;
      margin: auto;
      .fan-img {
        width: 400px;
        padding: 5px;
      }
      .img-angelcaido {
        width: 800px;
      }
    }
  }
}
