@import "../utils/variables";
@import "../utils/mixin";

@media (max-width: $mobile) {
  .inicio-contacto {
    @include sizes(100%, 18vh);
    @include flex(column, null, null);
    flex-wrap: wrap-reverse;
    .titulo-contacto {
      @include titulos(20px);
      text-align: center;
      order: 1;
    }
    .contenedor-info {
      flex: 1;
      padding: 2rem;

      align-items: center;
      order: 2;

      .texto-formulario {
        font-size: 13px;

        display: block;
      }
    }
    .contenedor {
      flex: 1;
      padding: 2rem;

      align-items: center;
      order: 1;
      margin-top: 10%;

      .formulario {
        text-align: left;
        display: flex;
        font-size: 15px;
        margin-top: 5%;
      }
      #formu,
      [name="mail"],
      [name="mensaje"] {
        width: 100%;
        box-sizing: border-box;
      }

      #enviar {
        @include sizes(100%, 10px);
        @include boton-enviar;
        font-size: 15px;
      }
    }
  }
}
@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .inicio-contacto {
    @include sizes(100%, 5vh);
    @include flex(column, center, center);
    height: 100vh;
    .titulo-contacto {
      @include titulos(25px);
      text-align: center;
      margin-top: 20%;
      width: 100%;
      order: 1;
    }
    .contenedor-info {
      @include flex(column, null, null);
      flex: 1;
      order: 2;
      width: 95%;
      flex-wrap: wrap;

      .desc-formulario {
        font-size: 15px;
        font-family: "Spectral";
        margin-bottom: 10px;
        text-align: center;
      }
      .disclaimer {
        display: flex;
        align-self: center;
        width: 80%;
        order: 2;

        .text-disclaimer {
          font-size: 15px;
          font-family: "Spectral";
          text-align: justify;
        }
      }
    }

    .contenedor {
      flex: 1;
      padding: 2rem;

      align-items: center;
      order: 1;
      margin-top: 5%;
      .texto-formulario {
        font-size: 18px;

        display: block;
        margin-bottom: 10px;
        text-align: center;
      }

      .formulario {
        text-align: left;
        display: flex;
        font-size: 15px;
      }
      #formu,
      [name="mail"],
      [name="mensaje"] {
        width: 100%;
        box-sizing: border-box;
      }

      #enviar {
        @include sizes(100%, 10px);
        @include boton-enviar;
        font-size: 15px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .inicio-contacto {
    @include sizes(100%, 10%);
    @include flex(row, null, center);
    flex-wrap: wrap-reverse;
    .titulo-contacto {
      @include titulos(30px);
      text-align: center;
      margin: auto;
      width: 100%;
      order: 1;
    }
    .contenedor-info {
      flex: 1;
      padding: 2rem;
      align-items: center;

      .desc-formulario {
        @include flex(row, null, null);
        font-size: 15px;

        margin-bottom: 10px;
        text-align: left;
      }
    }
    .contenedor {
      flex: 1;
      padding: 2rem;
      align-items: center;
      form {
        .texto-formulario {
          font-size: 16px;

          display: block;
          margin-bottom: 10px;
          text-align: center;
        }
        .formulario {
          display: flex;
          text-align: left;
          font-size: 17px;
          margin-top: 5%;
        }
        #formu,
        [name="mail"],
        [name="mensaje"] {
          width: 100%;
          box-sizing: border-box;
        }
        #enviar {
          @include boton-enviar;
          @include sizes(100%, 10px);
          font-size: 18px;
        }
      }
    }
  }
}
