@import "../utils/variables";
@import "../utils/mixin";

@media (max-width: $mobile) {
  .inicio-contacto {
    @include sizes(100%, 15%);
    @include flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    .titulo-contacto {
      @include titulos-mobile;
      text-align: center;
      margin-top: 20%;
      width: 100%;
      order: 1;
    }
    .contenedor-info {
      flex: 1;
      padding: 2rem;
      font-family: "Castoro Titling", cursive;
      align-items: center;
      order: 2;

      .texto-formulario {
        font-size: 13px;
        color: $primary-color;
        font-family: "Castoro Titling", cursive;
        display: block;
      }
    }
    .contenedor {
      flex: 1;
      padding: 2rem;
      font-family: "Castoro Titling", cursive;
      align-items: center;
      order: 1;
      margin-top: 10%;

      .formulario {
        text-align: left;
        color: $primary-color;
        @include flex;
        font-size: 15px;
        margin-top: 5%;
      }
      #formu,
      [name="mail"],
      [name="mensaje"] {
        width: 100%;
        box-sizing: border-box;
      }

      #enviar {
        @include sizes(100%, 10px);
        background-color: $primary-color;
        color: white;
        font-family: "Castoro Titling", cursive;
        padding: 10px;
        font-size: 15px;
      }
    }
  }
}
@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .inicio-contacto {
    @include sizes(100%, 5%);
    @include flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    .titulo-contacto {
      @include titulos-tablet;
      text-align: center;
      margin-top: 20%;
      width: 100%;
      order: 1;
    }
    .contenedor-info {
      @include flex;
      flex: 1;
      margin-top: 10%;
      order: 2;
      width: 95%;
      flex-wrap: wrap;
      flex-direction: column;

      .desc-formulario {
        font-size: 15px;
        color: $primary-color;
        font-family: "Spectral";
        margin-bottom: 10px;
        text-align: center;
      }
      .disclaimer {
        @include flex;
        margin: auto;
        width: 80%;
        order: 2;

        .text-disclaimer {
          font-size: 15px;
          color: $primary-color;
          font-family: "Spectral";
          text-align: justify;
        }
      }
    }

    .contenedor {
      flex: 1;
      padding: 2rem;
      font-family: "Castoro Titling", cursive;
      align-items: center;
      order: 1;
      margin-top: 5%;
      .texto-formulario {
        font-size: 18px;
        color: $primary-color;
        font-family: "Castoro Titling", cursive;
        display: block;
        margin-bottom: 10px;
        text-align: center;
      }

      .formulario {
        text-align: left;
        color: $primary-color;
        @include flex;
        font-size: 15px;
      }
      #formu,
      [name="mail"],
      [name="mensaje"] {
        width: 100%;
        box-sizing: border-box;
      }

      #enviar {
        @include sizes(100%, 10px);
        background-color: $primary-color;
        color: white;
        font-family: "Castoro Titling", cursive;
        padding: 10px;
        font-size: 15px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .inicio-contacto {
    width: 100%;
    @include flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 10%;
    .titulo-contacto {
      @include titulos-desktop;
      text-align: center;
      margin: auto;
      width: 100%;
      order: 1;
    }
    .contenedor-info {
      flex: 1;
      padding: 2rem;
      align-items: center;

      .desc-formulario {
        @include flex;
        font-size: 15px;
        color: $primary-color;
        font-family: "Castoro Titling", cursive;
        flex-direction: row;
        margin-bottom: 10px;
        text-align: left;
      }
    }
    .contenedor {
      flex: 1;
      padding: 2rem;
      font-family: "Castoro Titling", cursive;
      align-items: center;
      .texto-formulario {
        font-size: 18px;
        color: $primary-color;
        font-family: "Spectral";
        display: block;
        margin-bottom: 10px;
        text-align: center;
      }

      .formulario {
        @include flex;
        text-align: left;
        font-size: 17px;
        color: $primary-color;
        margin-top: 5%;
      }
      #formu,
      [name="mail"],
      [name="mensaje"] {
        width: 100%;
        box-sizing: border-box;
      }

      #enviar {
        background-color: $primary-color;
        color: white;
        font-family: "Castoro Titling", cursive;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
      }
    }
  }
}

.disclaimer {
  @include flex;
  @include sizes(100%, 10%);
  justify-content: center;
  flex-direction: column;
  .text-disclaimer {
    font-size: 16px;
    color: $primary-color;
    font-family: "Spectral";
    text-align: justify;
  }
}
