@import "../utils/variables";
@import "../utils/mixin";

@media (max-width: $mobile) {
  .footer {
    width: 100%;
    @include flex;
    align-items: center;
    height: 28vh;
    margin-top: 35%;
  }
}
@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .footer {
    width: 100%;
    @include flex;
    align-items: center;
    height: 28vh;
  }
}
