@import "../utils/variables";
@import "../utils/mixin";
@import "globals.scss";

@media (max-width: $mobile) {
  .footer {
    @include sizes(100%, 0%);
    @include flex(column-reverse, center, null);
    height: 20vh;

    .caja-footer {
      width: 90%;
      text-align: center;
    }
    .redes {
      width: 100%;
      ul {
        text-align: center;
      }
    }
  }
}
@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .footer {
    width: 100%;
    @include flex(row, center, null);
    height: 10vh;
  }
}
