@import "../utils/variables";
@import "../utils/mixin";

@media (max-width: $mobile) {
  .inicio-galeria {
    @include flex(column, center, center);
    height: auto;
    margin-top: 18vh;
    margin-bottom: 5vh;

    .titulo-galeria {
      @include titulos(20px);
    }
    .descripcion-galeria {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .contenedor-galeria {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 10px;
      justify-items: center;
      align-items: center;

      .imagen-galeria {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .inicio-galeria {
    @include flex(column, center, center);

    height: 100vh;

    .titulo-galeria {
      @include titulos(25px);
    }
    .descripcion-galeria {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .contenedor-galeria {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      justify-items: center;
      align-items: center;

      .imagen-galeria {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (min-width: $desktop) {
  .inicio-galeria {
    @include flex(column, center, center);
    height: 130vh;
    margin-top: 10vh;

    .titulo-galeria {
      @include titulos(30px);
    }
    .descripcion-galeria {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .contenedor-galeria {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      justify-items: center;
      align-items: center;

      .imagen-galeria {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
