@import "../utils/variables";
@import "../utils/mixin";
@import "../utils/extend";

//index
.inicio {
  .intro {
    display: block;
    align-items: center;
    .caja-uno {
      width: 100%;
      margin: auto;
      margin-bottom: 5%;
      .carousel {
        position: relative;
        z-index: 1;
      }
    }
  }
  .caja-dos {
    .titulo-intro {
      @include titulos(30px);
    }
    width: 70%;
    margin: auto;
    padding: 5px;

    .introduccion {
      @extend %font-castoro;
      text-align: justify;
      font-size: 20px;
      margin-top: 8%;
    }
  }
  .caja-tres {
    margin-top: 5rem;
    .intro-dos {
      @extend %font-castoro;
      text-align: center;
      font-size: 25px;
      .link-tienda {
        @extend %font-spectral;
      }
    }
  }
}
//footer
.footer {
  @include sizes(100%, 8%);
  @include flex(row, center, null);
  height: 10vh;

  .caja-footer {
    width: 100%;
    .texto-footer {
      @extend %font-castoro;
      font-size: 12px;
    }
  }
  .redes {
    ul {
      width: 96%;
      @include flex(column, null, null);
      list-style: none;
      text-align: right;

      .links-footer {
        @extend %font-spectral;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
//contacto
.disclaimer {
  @include flex(column, null, center);
  @include sizes(100%, 10%);
  .text-disclaimer {
    @extend %font-spectral;
    font-size: 16px;
    text-align: justify;
  }
}
