@import "../utils/variables";
@import "../utils/mixin";

@media (max-width: $mobile) {
  .inicio {
    margin-top: 30%;
    .caja-tres {
      .intro-dos {
        padding: 1rem;
      }
      .lista {
        max-width: 90%;
        margin: 90px auto;
        @include flex(row, null, center);
        flex-wrap: wrap;
        .caja-img {
          .imagen-lista {
            width: 250px;
            margin: 13px;
          }
        }
      }
    }
  }
}
@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .inicio {
    margin-top: 20%;
    .caja-tres {
      margin-top: 90px;
      .intro-dos {
        padding: 1rem;
      }
      .lista {
        max-width: 90%;
        margin: 90px auto;
        @include flex(row, null, center);
        flex-wrap: wrap;
        .caja-img {
          .imagen-lista {
            width: 200px;
            margin: 13px;
          }
        }
      }
    }
  }
}
@media (min-width: $desktop) {
  .inicio {
    @include sizes(100%, 10%);

    .lista {
      max-width: 75%;
      margin: 90px auto;
      @include flex(row, null, center);
      flex-wrap: wrap;
      .caja-img {
        position: relative;
        width: 300px;
        padding: 0;
        margin: 13px;
        height: 375px;
        padding: 0;
        overflow: hidden;
        z-index: 1;
        .imagen-lista {
          @include animacion-zoom;
          width: 300px;
        }
        .imagen-lista:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }

        .caja-img:hover .imagen-lista {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
}
